<main class="login" *ngIf="loginForm">
  <h1>Daily Matrix</h1>
  <div class="login-container" *ngIf="!loggedIn">
    <h2>Login</h2>
    <form [formGroup]="loginForm">
      <div>
        <label for="email">Email Address</label>
        <input type="text" formControlName="email">
      </div>
      <div>
        <label for="email">Password</label>
        <input type="password" formControlName="password">
      </div>
      <button (click)="doLogin()">Login</button>
    </form>
  </div>
  <div *ngIf="loggedIn" class="overview">
    <h1>Welcome back {{user | json}}</h1>
  </div>
</main>
