
main {
  width: 100vw;
  height: calc(100vh -64px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.example-spacer {
  flex: 1 1 auto;
}
.task-form {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.day-card {
  height: 200px;
  width: 500px;
  margin-bottom: 1rem;
}
.card-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.today-card {
  min-height: 200px;
  width: 500px;
  margin-bottom: 1rem;
}

@media(max-width: 500px) {
  main {
    padding: 0 1rem;
  }
  .task-form, .day-card, .today-card {
    width: 100%;
  }
}